<div class="mx-auto md:w-2/3 w-full flex flex-col items-center justify-center min-h-[calc(100vh-7rem)]">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl mb-8">Sign in</h1>

  <%= form_with url: session_url, class: "w-full max-w-md" do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block w-full shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "block w-full shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2" %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Sign in", class: "focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
      </div>

      <div class="mt-4 text-sm text-gray-500 sm:mt-0">
        <%= link_to "Forgot password?", new_password_path, class: "text-gray-700 underline hover:no-underline" %>
      </div>
    </div>
  <% end %>

  <div class="mt-6 text-center">
    <p class="text-sm text-gray-600 dark:text-gray-400">
      Don't have an account? 
      <%= link_to "Sign up", new_user_path, class: "font-medium text-green-600 hover:text-green-500 dark:text-green-400 dark:hover:text-green-300" %>
    </p>
  </div>
</div>
